<!DOCTYPE html>
<html lang="gl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Xogando con Vue</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js" defer></script>
    <script src="script.js" defer></script>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div id="app">
      <input type="text" v-model="inputClass" placeholder="Escribe claseA ou claseB" ><br>
      <p :class="[inputClass, visible ? 'visible' : 'hidden']">Podo cambiar o meu estilo! (๑> ᴗ <๑)♡</p>
      <button @click="ocultaParrafo">Ocultar o parágrafo</button><br><br><br><br>
      <input type="text" v-model="backgroundColor" placeholder="Escribe unha cor de fondo" ><br>
      <p :style="{ backgroundColor: backgroundColor }">Podo cambiar a miña cor de fondo! (๑> ᴗ <๑)♡</p><br>

    </div>
  </body>
</html>
