table {
  border-collapse: collapse;
  width: 50%;
}

td {
  padding: 20px;
  text-align: center;
  border: 2px solid black;
  cursor: pointer;
  font-size: 1.2em;
}

.activa {
  color: white;
  background-color: rgb(31, 0, 27);
  border: 2px dotted pink;
}
