h1 {
  justify-self: center;
  color: rgb(219, 101, 160);
}
.legend {
  padding: 10px 14px;
  background-color: rgba(252, 241, 242, 0.6);
  border: 1px solid rgb(219, 101, 160);
}
body {
  background-color: rgb(252, 241, 242); /* Rosa clarito */
  margin: 0;
  padding: 0;
}

#map {
  height: 90vh;
  width: 60vw;
  justify-self: center;
  z-index: 1; /* Asegúrate de que el mapa esté por encima de otros elementos */
}
p {
  color: rgb(219, 101, 160);
}
