.primeiroParagrafoActivo {
  font-weight: bold;
  font-size: 18px;
  color: rgb(77, 9, 68);
  cursor: pointer;
}
.verde {
  font-weight: bold;
  font-size: 18px;
  color: rgb(100, 163, 128);
  cursor: pointer;
}
.vermello {
  font-weight: bold;
  font-size: 18px;
  color: rgb(173, 7, 7);
  cursor: pointer;
}
